<div class="categoryBar">
    <ul>
        <li><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" href="#"><img class="icon" src="{{ asset('build/images/dog.svg') }}" alt="Catégorie Chien"> Chien</a></li>
        <li><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" href="#"><img class="icon" src="{{ asset('build/images/cat.svg') }}" alt="Catégorie Chat"> Chat</a></li>
        <li><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" href="#"><img class="icon" src="{{ asset('build/images/rodent.svg') }}" alt="Catégorie Rongeur"> Rongeur</a></li>
        <li><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" href="#"><img class="icon" src="{{ asset('build/images/bird.svg') }}" alt="Catégorie Oiseau"> Oiseau</a></li>
        <li><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" href="#"><img class="icon" src="{{ asset('build/images/aquatic.svg') }}" alt="Catégorie Poisson"> Poisson</a></li>
        <li><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" href="#"><img class="icon" src="{{ asset('build/images/lizard.svg') }}" alt="Catégorie Reptile"> Reptile</a></li>
        <li><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" href="#"><img class="icon" src="{{ asset('build/images/rocket.svg') }}" alt="Catégorie Service"> Service</a></li>
    </ul>
    <hr>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasTopLabel">Offcanvas top</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>