{% extends 'front/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="card-connexion container w-50 text-center">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Saisissez vos identifiants</h1>
            <label class="d-none" for="inputUsername">Email / Pseudo</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" placeholder="Email / Pseudo" required autofocus>
            <p><u>Email perdu ?</u></p>
            <label class="d-none" for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>
            <p><u>Mot de passe perdu ?</u></p>


            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

        {#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
        {#        See https://symfony.com/doc/current/security/remember_me.html#}

                <div class="checkbox mb-3">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Se connecter
                    </button>
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

            <p><u>Pas encore de compte ?</u></p>

        </form>
    </div>
{% endblock %}
