{% extends 'back/base.html.twig' %}

{% block title %}
    {{ status.name }}
{% endblock %}

{% block body %}
    <h1>{{ status.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ status.name }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ status.code }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_status_index') }}">Retour à la liste</a>

    <a href="{{ path('app_admin_status_edit', {'slug': status.slug}) }}">Modifier</a>

    {{ include('back/status/_delete_form.html.twig') }}
{% endblock %}
