{% extends 'back/base.html.twig' %}

{% block title %}
    Les moyens de paiement
{% endblock %}

{% block body %}
    <h1 class="text-center">Les moyens de paiement</h1>

    <div class="container-fluid">
        {#        {{ form_start(filters) }}#}
        <table class="table table-hover table-striped mt-3">
            <thead>
            <tr>
                <th>
                    {{
                    knp_pagination_sortable(
                        payment_methods,
                        'Nom',
                        'payment_method.name'
                    )|raw
                    }}
                    {#                        {{ form_widget(filters.name) }}#}
                </th>
                <th>
                    <div>
                        {#                            <button type="submit" class="filter-action">#}
                        {#                                <i class="fas fa-filter"></i>#}
                        {#                            </button>#}
                        <a class="filter-action" href="{{ path('app_admin_payment_method_index') }}">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for payment_method in payment_methods %}
                <tr>
                    <td><a href="{{ path('app_admin_payment_method_show', {'slug': payment_method.slug}) }}">{{ payment_method.name }}</a></td>
                    <td>
                        <a class="me-2" href="{{ path('app_admin_payment_method_edit', {'slug': payment_method.slug}) }}"><i class="fa-solid fa-pen"></i></a>
                        <a href="{{ path('app_admin_payment_method_delete', {'slug': payment_method.slug}) }}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucune categorie trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#        {{ form_end(filters) }}#}

        <div class="navigation d-flex justify-content-center mt-2">
            {{ knp_pagination_render(payment_methods) }}
        </div>
    </div>
{% endblock %}
