{% extends 'back/base.html.twig' %}

{% block title %}
    Les utilisateurs
{% endblock %}

{% block body %}
    <h1 class="text-center">Les utilisateurs</h1>

    <div class="container-fluid">
        {#        {{ form_start(filters) }}#}
        <table class="table table-hover table-striped mt-3">
            <thead>
            <tr>
                <th>
                    {{
                    knp_pagination_sortable(
                        users,
                        'Username',
                        'user.username'
                    )|raw
                    }}
                    {#                        {{ form_widget(filters.name) }}#}
                </th>
                <th>
                    {{
                    knp_pagination_sortable(
                        users,
                        'Role',
                        'user.roles'
                    )|raw
                    }}
                    {#                        {{ form_widget(filters.price) }}#}
                </th><th>
                    {{
                    knp_pagination_sortable(
                        users,
                        'Né le',
                        'user.birthAt'
                    )|raw
                    }}
                    {#                        {{ form_widget(filters.price) }}#}
                </th>
                <th>
                    {{
                    knp_pagination_sortable(
                        users,
                        'Inscrit le',
                        'user.registeredAt'
                    )|raw
                    }}
                    {#                        {{ form_widget(filters.brand) }}#}
                </th>
                <th>
                    <div>
                        {#                            <button type="submit" class="filter-action">#}
                        {#                                <i class="fas fa-filter"></i>#}
                        {#                            </button>#}
                        <a class="filter-action" href="{{ path('app_admin_user_index') }}">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('app_admin_user_show', {'slug': user.slug}) }}">{{ user.username }}</a></td>
                    <td>{% for role in user.roles %}
                        {{ role }}
                    {% endfor %}</td>
                    <td>{{ user.birthAt | date('d/m/Y') }}</td>
                    <td>{{ user.registeredAt | date('d/m/Y') }}</td>
                    <td>
                        <a class="me-2" href="{{ path('app_admin_user_edit', {'slug': user.slug}) }}"><i class="fa-solid fa-pen"></i></a>
                        <a href="{{ path('app_admin_user_delete', {'slug': user.slug}) }}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun utilisateur trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#        {{ form_end(filters) }}#}

        <div class="navigation d-flex justify-content-center mt-2">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}
