{% extends 'back/base.html.twig' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>En ligne</th>
                <td>{{ product.isOnline ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_product_index') }}">Retour à la liste</a>

    <a href="{{ path('app_admin_product_edit', {'slug': product.slug}) }}">Modifier</a>

    {{ include('back/product/_delete_form.html.twig') }}
{% endblock %}
